[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/APagnat
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/APagnat
	label-Verified = -1..+1 group user/APagnat
	push = group user/APagnat
	read = group user/APagnat
	rebase = group user/APagnat
	removeReviewer = group user/APagnat
	submit = group user/APagnat
[access "refs/heads/*"]
	create = group user/APagnat
	push = +force group user/APagnat
	pushMerge = group user/APagnat
	read = group user/APagnat
[access "refs/tags/*"]
	push = group user/APagnat
	push = +force group user/APagnat
